{% load i18n %}

   <ul class="flex items-center text-sm font-bold h-full">
      {% if user.is_authenticated  %}
        <li class="nav_link">
            <a href="{%url 'users:switch-hosting'%}">
                {% if request.session.is_hosting  %}
                      {% trans '호스팅 종료' %} 
                      <li class="nav_link"><a href="{% url 'reservations:see-host' %}">{% trans "예약 알림" %} ({{reservations.guest}})</a></li>
                {% else %}
                      {% trans '호스팅 시작' %}
                      <li class="nav_link"><a href="{% url 'reservations:see-reservation' %}">{% trans "나의 예약" %} ({{user.reservations.count}})</a></li>
                {% endif %}
            </a>
        </li>
        {% if request.session.is_hosting  %}
            <li class="nav_link"><a href="{% url 'rooms:create' %}">{% trans '방 만들기' %}</a></li>
        {% endif %}
        
        

        <li class="nav_link"><a href="{% url 'lists:see-favs' %}">{% trans "즐겨찾기" %} ({{user.list.rooms.count}})</a></li>
        <li class="nav_link"><a href="{{ user.get_absolute_url }}"> {% trans '프로필' %} </a></li>
        <li class="nav_link"><a href="{% url "users:logout" %}"> {% trans '로그아웃' %} </a></li>
      {% else %}
        <li class="nav_link"><a href="{% url "users:login" %}"> {% trans '로그인' %} </a></li>
        <li class="nav_link"><a href="{% url "users:signup" %}"> {% trans '회원가입' %} </a></li>
      {% endif %}
    </ul>
    