    <ul class="flex items-center text-sm font-bold h-full">
      {% if user.is_authenticated  %}
        <li class="nav_link">
            <a href="{%url 'users:switch-hosting'%}">
                {% if request.session.is_hosting  %}
                      호스팅 종료
                {% else %}
                      호스팅 시작
                {% endif %}
            </a>
        </li>
        {% if request.session.is_hosting  %}
            <li class="nav_link"><a href="{% url 'rooms:create' %}">방 만들기</a></li>
        {% endif %}
          
        <li class="nav_link"><a href="{{ user.get_absolute_url }}">프로필</a></li>
        <li class="nav_link"><a href="{% url "users:logout" %}">로그아웃</a></li>
      {% else %}
        <li class="nav_link"><a href="{% url "users:login" %}">로그인</a></li>
        <li class="nav_link"><a href="{% url "users:signup" %}">회원가입</a></li>
      {% endif %}
    </ul>
    