{% extends "base.html" %}

{% block page_title %}
    {{room.name}}'s Photos
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container mx-auto my-10 flex flex-col">

        <div class="my-10 w-full">
            <a href="{% url 'rooms:add-photo' room.pk %}" class="btn-link w-1/6 block">사진 업로드</a>
        </div>

        <!-- Start Photo List -->
        {% for photo in room.photos.all  %}
            <div class="mb-5 border p-6 border-gray-400 flex justify-between">
                <div class="flex items-start">
                    <img src="{{photo.file.url}}" class="w-48 h-48" />
                    <span class="ml-5 text-xl">{{photo.caption}}</span>
                </div>

                <!-- Button Width  -->
                <div class="flex flex-col w-1/5 mt-10">
                    <a class="btn-link mb-5 bg-green-300" href="{% url 'rooms:edit-photo' room.pk photo.pk %}">수정</a>
                    <a class="btn-link bg-red-600" href="{% url 'rooms:delete-photo' room.pk photo.pk %}">삭제</a>
                </div>
                <!-- endof Button Width  -->
            </div>
        {% endfor %}
    <!-- end of Photo List -->

            <!-- Create Back to edit room -->
            <div class="flex justify-center mt-5 ">
                <a href="{% url 'rooms:edit' room.pk %}" class="text-xl text-green-300 font-bold">뒤로가기</a>
            </div>
            <!-- end of Back to edit room -->

    </div>
{% endblock content %} 