{% extends 'base.html' %}

{% block page_title  %}
    Home
{% endblock page_title  %}

{% block content  %}


    <div class=" container w-3/5 rounded-xl bg-cover mx-auto bg-gray-800 h-60vh mt-30 mb-24" style="background-image:url(static/img/test.png)">

    
    </div>

{% for room in rooms  %}
<h4>
    <a href="{% url "rooms:detail" room.pk%}">
         {{room.name}} / ${{room.price}}
    </a>
</h4>
{% endfor %}

 <h5>
 {% if page_obj.has_previous  %}
  <a href="?page={{page_obj.previous_page_number}}">이전</a>
 {% endif  %}

    현재페이지 {{page_obj.number}} of {{page_obj.paginator.num_pages}}

 {% if page_obj.has_next%}
  <a href="?page={{page_obj.next_page_number}}">다음</a> 
 {% endif %}
 </h5>



{% endblock  %}



