{% extends 'base.html' %}

{% block page_title  %}
    Home
{% endblock page_title  %}

{% block content  %}


<div class="container mx-auto pb-10">
     <div class="flex flex-col items-center">
        {% include 'mixins/user_avatar.html'%}
    </div>
        <h3 class="mb-15 p-10 text-2xl text-center">
            {{user.first_name}} 님의 예약하신 목록 입니다.
            
        </h3>
        <div class="flex flex-wrap -mx-40 mb-10">
            {% for room in reservation.room.all  %}
                {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>



        {% for reservation in reservations  %}
<!--                {{reservation.guest.id}} -->
<!--                {{user.id}}-->
<!--                {{reservation.check_in}}-->
<!--                {{reservation.room}}-->
        {% endfor %}
            

   <div class="flex flex-wrap -mx-40 mb-10">
    {% for reservation in reservations  %}
        {% if reservation.guest.id == user.id %}
            <span class="font-bold text-green-500">
                 <a  href="{% url 'conversations:go' reservation.room.host.pk reservation.guest.pk %}"
                 class="text-green-500"> <img src="{{reservation.room.first_photo}}"  /> </a>
<!--                {{reservation.room.first_photo}}-->

            </span>
        {%endif%}

    {% endfor %}
    
    
{% endblock  %}


<!--       <br>  {{reservation.id}}-->
<!--  <br> {{reservation.status}}-->
<!--       <br> {{reservation.guest}}-->

<!--        <br> {{reservation.status}}-->

<!--       <br> {{reservation.room}}-->

<!--       <br> {{reservation.guest}}-->

<!--            day = models.DateField()-->
<!--    reservation = models.ForeignKey("Reservation", on_delete=models.CASCADE)--